*{
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.container{
  display: block;
  width: 96vw;
  border: 1px solid black;
}

.header{
  background-color: lightblue;
  border: 1px solid black;
  height: 10vh ;
  display: flex;
  align-items: center;
}

.header h3{
  font-size: 25px;
  margin-left: 2vw;

}

.header img{
  width: 4vw;
  height: 2vw;
  margin-top: 0.5vh;
}

.content{
  background-color: lightgreen;
  border: 1px solid black;
  min-height: 76vh ;
} 
.footer{
  background-color: lightcoral;
  border: 1px solid black;
  height: 10vh ;
}